a(name="main")
section.main
  .video
    img(src="images/bg.jpg")
  .content
    .container-float
      h1
        .clear
          span.first!="<b>Создание сайтов</b>"
          br
          span.second!="<b>для роста продаж</b>"
      ul
        li
          .roll
            span="1"
          h3="Изучаем ваш продукт или услугу услугу"
        li
          .roll
            span="2"
          h3="Делаем маркетинговый анализ спроса и конкурентов в интернете"
        li
          .roll
            span="3"
          h3="Отстраиваемся от конкурентов"
        li
          .roll
            span="4"
          h3="Создаем сайт"
        li
          .roll
            span="5"
          h3="Настраиваем рекламу"
        li
          .roll
            span="6"
          h3="Внедряем систему аналитики и IP телефонию для замера эффективности звонков и контроля отдела продаж"
