nav#nav
  .container-float
    a.anchor.logo(href="#main")
    .number!="+7 702 <b>808 80 08</b>"
    ul.close.open
      .closer
      li
        a.anchor(href="#contact")="Контакты"
      li
        a.anchor(href="#system")="Система аналитики"
      li
        a.anchor(href="#advice")="Продвижение"
      li
        a.anchor(href="#projects")="Проекты"
    .burger
