a(name="projects")
section.projects
  h3="Проекты"
  // Список проектов
  a(href="http://riverpark.kz/" data-parallax="scroll" data-image-src="images/saya.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Коттеджный поселок — RiverPark"
  a(href="http://gratsia.kz/ " data-parallax="scroll" data-image-src="images/grac.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Жилой комплекс «Грация»"
  a(href="http://lp-astana.kz/" data-parallax="scroll" data-image-src="images/les.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Жилой массив «Лесная поляна»"
  a(href="http://arnau-premium.kz/" data-parallax="scroll" data-image-src="images/arnau.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Жилой комплекс «Арнау Премиум»"
  a(href="http://www.astanaslimclub.kz/" data-parallax="scroll" data-image-src="images/slim.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="фитнес-клуб «Слимклаб»"
  a(href="http://citylake.kz/" data-parallax="scroll" data-image-src="images/city.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Жилой комплекс «Citylake»"
  a(href="http://fresco.kz/" data-parallax="scroll" data-image-src="images/fresko.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Торговая марка Fresco"
  a(href="http://aess.kz/" data-parallax="scroll" data-image-src="images/ass.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Компания «АЭСС-2006»"
  a(href="http://zhaina-astana.kz/" data-parallax="scroll" data-image-src="images/zhaina.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Жилой комплекс «Жайна»"
  a(href="http://almavillage.kz/" data-parallax="scroll" data-image-src="images/alma.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Коттеджный городок «Almavillage»"
  a(href="http://korkem-2.kz/" data-parallax="scroll" data-image-src="images/korkem.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Жилой комплекс «Коркем-2»"
  a(href="http://www.design.kazyna-gold.kz/" data-parallax="scroll" data-image-src="images/kazyna.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Ювелирная компани «Kazyna Gold»"
  a(href="http://www.dg-tech.kz/" data-parallax="scroll" data-image-src="images/dgtech.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="ТОО «ДГ Технолоджи»"
  a(href="http://doctor-dent.kz/" data-parallax="scroll" data-image-src="images/dent.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Сеть стоматологических клиник «Доктор Дент»"
  a(href="http://cateringservice.kz/" data-parallax="scroll" data-image-src="images/catering.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Кейтеринговая компания Cateringservice.kz"
  a(href="http://kirpichzavod-1.kz/" data-parallax="scroll" data-image-src="images/kirpich.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Кирпичный завод № 1 (г.Астана)"
  a(href="http://vavilon-dom.kz/" data-parallax="scroll" data-image-src="images/vavilon.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Жилой комплекс «Вавилон»"
  a(href="http://jobs.kazchermet.com" data-parallax="scroll" data-image-src="images/kazcher.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Рекрутинг компании «Kazchermet»"
  a(href="http://smartrealtor.kz" data-parallax="scroll" data-image-src="images/smart.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Риэлторское агенство «SmartRealtor»"
  a(href="http://mimioriya.kz/" data-parallax="scroll" data-image-src="images/mimi.jpg" data-speed="0.3" class="parallax-window" target="_blank")
    .wrap
      .filter_violet
      .container-float
        h4="Семейный центр творчества и развития «Мимиория»"
