section.structure
  h3="Cтруктура Mindpro-group"
  .container-float
    ul
      li
        h4="Создание видео"
        a(href="#")="mindpro-video.kz"
      li
        h4="Создание сайтов"
        a(href="#")="mindpro-sites.kz"
      li
        h4="СММ продвижение"
        a(href="#")="mindpro-smm.kz"
      li
        h4="Аналитика продаж"
        a(href="#")="mindprosales.kz"
